@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap)
$font-stack: Montserrat, sans-serif

h1
    font-family: $font-stack
    margin-bottom: 0

h2, h3
    font-family: $font-stack
    font-size: 2em
    margin-top: 0
    padding-top: 0