<div class="tasks-container">
  <app-tasks></app-tasks>
</div>

<div>
  <label>
    <h3>Create new task</h3><br />
    <input [(ngModel)]="taskTitle" name="taskTitle" type="text" class="task-input" placeholder="Let's get it done!" />
  </label><br />
  <button (click)="addTask(task)">
    CREATE
  </button>
</div>

<div>
  <button (click)="authService.logout()">LOG OUT</button>
</div>
<!--
    <form [formGroup]="this.tasksService.form">
      <input placeholder="Title" formControlName="taskTitle" type="text" class="task-title"> </form>
-->




<!--
<tbody>
  <tr *ngFor="let task of tasks">
     <td>{{ task.payload.doc.data().id }}</td>
     <td>{{ task.payload.doc.data().title }}</td>
     <td><span 
          *ngFor="let task of task.payload.doc.data().tasks">
         {{ task }}
        </span>
     </td>
  </tr>
  </tbody>
-->
